header {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 1rem;
  font-weight: 400;
}

nav {
  display: flex;
  gap: 1rem;
}
img {
  display: block;
  width: 20px;
  height: 20px;
}
