* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #9d00e5;
  margin: 0;
  overflow: visible;
  cursor: url("/src/windows-cursor.png"), auto;
}

.overlay {
  position: absolute;
  z-index: 1;
  text-align: center;
}

canvas {
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  position: sticky;
  width: 100vw;
  align-items: center;
}

h1 {
  font-size: 1rem;
  font-weight: 400;
}

.sticky-nav {
  /*this is to style the header element */
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 4rem;
}

/*
.sticky-nav {
  position: sticky;
  top: 0;
  background: #ffffff;
  z-index: 1000;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}
.sticky-nav nav {
  position: sticky;
  justify-content: space-between;
  display: flex;
  gap: 1rem;
}

nav a {
  color: #000000;
  text-decoration: none;
  padding: 40px 20px;
}
*/
.sticky-nav nav {
  /*this styles the nav element inside the header;responsible for the layout of the objects inside the header*/
  position: sticky;
  justify-content: space-between;
  display: flex;
  gap: 1rem;
}

nav a {
  /*this targets the links inside the nav*/
  color: #000000;
  text-decoration: none;
  padding: 40px 20px;
}

#wecoded-blackenblem {
  display: block;
  width: 100px;
  height: 100px;
}

.WeCoded-typologo {
  display: block;
  position: absolute;
  max-width: 38%;
  align-items: center;
  top: 20%;
  margin: auto 33px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 300px;
  gap: 20px;
}

.post {
  width: calc(25% - 20px);
  aspect-ratio: 1 / 1;
}
